<a href="https://colab.research.google.com/github/FictionVini/Eleflow/blob/main/XGBoost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
%pylab inline

data = pd.read_csv("./sample_data/california_housing_train.csv")
data.head()

Populating the interactive namespace from numpy and matplotlib

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from xgboost import XGBRegressor

In [ ]:
X = data.drop("median_house_value", axis=1)
y = data['median_house_value']

Xtr, Xval, ytr, yval = train_test_split(X, y, test_size=0.5, random_state=0)

arveres_poderosas = XGBRegressor(learning_rate=0.08, 
                                 n_estimators=1300,
                                 max_depth=6,
                                 min_child_weight=1,
                                 subsample=0.75,
                                 colsample_bynode=0.5,
                                 random_state=0,
                                 #gpu_id='0',
                                 #tree_method='gpu_hist',
                                 #num_parallel_tree=3,
                                 booster="gbtree",
                                 objective='reg:squarederror'
                                 )
arveres_poderosas.fit(Xtr, ytr)

p = arveres_poderosas.predict(Xval)

np.sqrt(mean_squared_error(yval, p))

46769.29847758381

In [ ]:
54449.769594369776
61150.66450183863

113735.55509745525
79307.56717257996
68594.60058752852
60797.27898674709
56135.018190961055
52669.39620242017
50078.36756473469

49365.34136318699
48984.82934615339
48871.97820006839
48703.27054454833
48731.05623012425
48570.506866915974
48125.60874734519
47915.50149547961
47534.43474381099
47282.429858854695
46769.29847758381
46465.94076722498
46226.632741192465